# Xcode
DerivedData/
build/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcshareddata/WorkspaceSettings.xcsettings

# Swift Package Manager
.build/

# macOS
.DS_Store

# Secrets / local env
.env
.env.local
